# URL base da API do Barramento Centralizador de Dados Clínicos
# Emulador Android: 10.0.2.2 = localhost da máquina host
# Dispositivo físico via Wi-Fi: usar o IP real da máquina na rede local (ex: http://192.168.1.100:8002)
# Ambiente Oficial em Nuvem:
EXPO_PUBLIC_API_BASE_URL=https://api.pohinc.com.br

# Habilita o menu e telas de desenvolvimento na interface do app (true na branch dev, false em produção)
EXPO_PUBLIC_ENABLE_DEV_MENU=false
